
<div class="register">

<div>
  <h2 id="account-create-title">Create Account</h2>
</div>
<div>
<form id="form" action="/signup" method="POST">
   
    <input type="text" name="username"
      placeholder="Username" class="create-acc-input">

    <input id="passwordenter" type="password" name="password" placeholder="Password" class="create-acc-input">
    
    <input type="text" name="pubKey"
      placeholder="Public Api Key" class='create-acc-input'>
    
    <input type="text" name="priKey" class='create-acc-input' placeholder="Secret Api Key">

  <p class="tos">You do not need a api key to sign up, but to enable trading you will need a api key from Poloniex</p>

    <button id="signupbtn" type="submit">Create account</button>
  </form>
</div>
</div>