



<div>
  <h1>Profile</h1>
</div>

<div class="apikeyinputapi">

<form id="form" action="/profile" method="POST">
    <label  for="pubKey">Public Api Key:</label>
    <input class="apikeyentry" type="text" name="pubKey"
      placeholder="Public Api Key">

    <label for="priKey">Secret Api Key:</label>
    <input class="apikeyentry" type="text" name="priKey" placeholder="Secret Api Key">
  
     <input type="submit" name="submit" value="Update" id="updateapikeys">
  </form>

</div>


<div class="historydelbtn">
<div>
<button type="submit" name="submit" id="historyBtn"> History </button>
</div>

<div>
<form action="/deleteaccount" method="POST">
<div> 
  <button id="deleteBtn">Delete Account </button>
</div>
</form>
</div>


</div>



<div>
  <table>
  <thead>
    <th>Amount</th>
    <th>Date</th> 
    <th>Order Number</th>
    <th>Type</th>
    <th>TradeID</th>
  </thead>
  <tbody id="tableHistory">

  </tbody>
</table>
</div>

 <script type="text/javascript" src="javascripts/login.js"></script>
  <script type="text/javascript" src="javascripts/moneroLogin.js"></script>
  <script src="/javascripts/profile.js"></script>