body {
  font-family: 'Space Mono', monospace;
  font-size: 12px;
  padding: 50px;
  background-color: #000000;
  color: #cccccc;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#chart-contain {
  width: 80%;
  height: 552px;
}

//NavBar Styling

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  font-size: 14px;
  background-color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;

}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
  text-align: center;
  margin: 15px 15px;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.active {
  display: block;
}



@media screen and (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
    color: #cccccc;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: column;
    justify-content: center;
  }

  .main-nav li {
    margin: 0;

  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }
}

.dropdown {
  background-color: #000000;
  border: 1px solid #cccccc;
  padding: 3% 9% 2% 1.5%;
  position: absolute;
  right: 5%;
  top: 20%;
  display: none;

}

.visible {
  display: inline-block;
}

form.login-form {
  display: flex;
  flex-direction: column;
}

.inputStyling {
  font-family: 'Space Mono', monospace;
  color: #cccccc;
  background-color: #323642;
  padding: 4%;
  border: none;
  width: 158%;
}

#loginBtn {
  color: #cccccc;
  border: none;
  font-family: 'Space Mono', monospace;
  background-color: #66926e;
  font-size: 12px;
  height: 28px;
  width: 43%;
  border-radius: 4px;
}

#loginBtn:hover {
  background-color: #23cc75;
  color: #cccccc;
  border: none;
  transition: 500ms;
}

.main-charts {
  display: flex;
  margin-top: 3%;
}

.buy-sellinput {
  font-family: 'Space Mono', monospace;
  color: #cccccc;
  background-color: #323642;
  padding: 4%;
  border: none;
  width: 128%;
}

.buysellform {
  position: relative;
  padding-left: 4%;
  padding-top: 5%;
}

.sellbox {
  padding-top: 50%;
}

.buy-btn {
  color: #cccccc;
  border-color: #23cc75;
  font-family: 'Space Mono', monospace;
  background-color: #173a04;
  font-size: 12px;
  padding: 3px;
  width: 43%;
  text-align: center;
  border-radius: 4px;
}

.buy-btn:hover {
  color: #cccccc;
  border-color: #173a04;
  font-family: 'Space Mono', monospace;
  background-color: #23cc75;
  font-size: 12px;
  padding: 3px;
  width: 43%;
  text-align: center;
  transition: 500ms;
}

.sell-btn {
  color: #cccccc;
  border-color: #d12a2a;
  font-family: 'Space Mono', monospace;
  background-color: #7e4439;
  font-size: 12px;
  padding: 3px;
  width: 43%;
  text-align: center;
  border-radius: 4px;

}

.sell-btn:hover {
  color: #cccccc;
  background-color: #7e4439;
  font-family: 'Space Mono', monospace;
  background-color: #e1595b;
  font-size: 12px;
  padding: 3px;
  width: 43%;
  text-align: center;
  transition: 500ms;
}

.buy-selltitle {
  font-size: 190%;
  padding-bottom: 7%;
}

.register {
  display: flex;
  height: 400px;
  justify-content: center;
  flex-direction: column;
  margin-top: 10%;
  border: 1px solid #cccccc;
  padding: 6% 0% 5% -0.5%;
  width: 27%;
  margin: 158px auto 0 auto;
  padding-top: 2%;
  padding-bottom: 2%;
}

#signupbtn {
  color: #cccccc;
  border: none;
  font-family: 'Space Mono', monospace;
  background-color: #66926e;
  font-size: 12px;
  padding: 15px 25px;
  width: 60%;
  border-radius: 4px;
}

.signupbtn:hover {
  background-color: #23cc75;
  transition: 1000ms;
}

#account-create-title {
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}

.create-acc-input {
  font-family: 'Space Mono', monospace;
  color: #cccccc;
  background-color: #323642;
  border: none;
  width: 100%;
  padding: 2%;
  margin-bottom: 11px;
}

#form {
  text-align: center;
  padding: 0 30px;
}

.tos {
  padding-bottom: 7px;
}

thead {
  text-align: left;
  font-size: 18px;
}

th {
  border-bottom: 1px solid #cccccc;

}

table {
  width: 100%;
}

.auth-form {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.hide-form {
  display: none;
}

.trueLogin {
  display: none;
}

.block-btns {
  display: flex;

}

.signup-btn-block {
  border-color: #cccccc;
  background-color: #323642;
  color: #cccccc;
  font-family: 'Space Mono', monospace;
  font-size: 10px;
  padding: 8px 23px;
  margin-left: 8px;
  border-radius: 4px;
}

.login-btn-block {
  border-color: #cccccc;
  background-color: #323642;
  color: #cccccc;
  font-family: 'Space Mono', monospace;
  font-size: 10px;
  padding: 8px 23px;
  border-radius: 4px;

}

.apikeyentry {
  font-family: 'Space Mono', monospace;
  color: #cccccc;
  background-color: #323642;
  border: none;
  width: 23%;
  height: 22px;
}

#updateapikeys {
  color: #cccccc;
  border: none;
  font-family: 'Space Mono', monospace;
  background-color: #66926e;
  font-size: 12px;
  padding: 3px 17px;
  border-radius: 4px;
}

#historyBtn {
  color: #cccccc;
  border: none;
  font-family: 'Space Mono', monospace;
  background-color: #323642;
  font-size: 12px;
  padding: 3px 17px;
  border-radius: 4px;
}

#deleteBtn {
  color: #cccccc;
  border: none;
  font-family: 'Space Mono', monospace;
  background-color: #d12a2a;
  font-size: 10px;
  padding: 3px 0;
  border-radius: 4px;


}

.historydelbtn {
  display: flex;
  justify-content: space-between;
  border-radius: 4px;


}

.apikeyinputapi {
  display: flex;
  justify-content: center;
  border-radius: 4px;
}

.opens{
  display: flex;
  justify-content: center;
}

#openOrders{
  font-size: 14px;
}

#opens-title{
  display: flex;
  justify-content: center;
}

.line-break{
border-bottom: #cccccc 1px solid;
}

@media (max-width: 600px) {
  #chart-contain {
    display: none;
  }

  .auth-form {
    position: absolute;
    top: 0;
    width: 150%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .hide-form {
    display: none;
  }

  .inputStyling {
    font-family: 'Space Mono', monospace;
    color: #cccccc;
    background-color: #323642;
    padding: 4%;
    border: none;
    width: 118%;
  }

  .dropdown {
    background-color: #000000;
    border: 1px solid #cccccc;
    padding: 5% 11% 7% 5%;
    position: absolute;
    right: 85px;
    top: 280px;
    display: none;
  }

  .visible {
    display: inline-block;
  }

  .register {
    display: flex;
    height: 400px;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
    border: 1px solid #cccccc;
    padding: 6% 0% 5% -0.5%;
    margin: 158px auto 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
  }

  #signupbtn {
    color: #cccccc;
    border: none;
    font-family: 'Space Mono', monospace;
    background-color: #66926e;
    font-size: 12px;
    padding: 15px 25px;
    width: 100%;

  }

  #xmrdeposit {
    word-wrap: break-word;
  }

  .apikeyinputapi {
    display: flex;
    flex-direction: column;
  }

  .apikeyentry {
    font-family: 'Space Mono', monospace;
    color: #cccccc;
    background-color: #323642;
    border: none;
    width: 45%;
    margin-bottom: 5px;
  }
}